<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
</head>
<body>
    <h1>Chat with the PDF Chatbot</h1>

    <!-- Chat form -->
    <form method="POST">
        <p>Enter your query for the chatbot. Add --references at the back of your query to get the references used by the LLM to generate the answer. </p>
        <label for="text">Enter query:</label>
        <input type="text" name="text" id="text" required>
        <button type="submit">Send</button>
    </form>

    <!-- Conversation History -->
    <div class="response-section">
        <h2>Conversation History:</h2>
        <div>
            {% for message in chat_history %}
                <p>{{ message|safe }}</p>
            {% endfor %}
        </div>
    </div>

</body>
</html>

<!-- archive -->
<!-- <form method="POST">
    <p> Enter your query for the chatbot</p>
    <input name="text">
    <input type="submit">
</form> -->

<!-- LLM Response Output -->
<!-- <div class="response-section">
    <p>LLM Response: {{ response }}</p>
</div> -->